<article class="{{post_class}}">
  <header class="post-header">
    <h1 class="post-title {{#if featured}}featured{{/if}}">
      <a href="{{url}}" class="permalink">{{title}}</a>
    </h1>
    {{!-- <p class="post-meta">By <span class="author">{{author.name}}</span></p> --}}
  </header>

  <div class="post-content">
    {{#is "home"}}
      {{excerpt words="35"}}… <a class="read-more" href="{{url}}">далее &raquo;</a>
      <p>
        <small class="post-time">
          <time datetime="{{date format='YYYY-MM-DD'}}">{{date timeago='true'}}</time></a>
        </small>
      </p>
    {{else}}
      {{content}}
    {{/is}}
  </div>

  {{^is "home, page"}}
    <hr>
    <footer class="post-footer">
      <nav class="post-nav">
        {{#prev_post}}<span class="post-nav-item prev"><a href="{{url}}">{{title}}</a></span>{{/prev_post}}
        {{#next_post}}<span class="post-nav-item next"><a href="{{url}}">{{title}}</a></span>{{/next_post}}
      </nav>
    </footer>
  {{/is}}
</article>
